<!--<!DOCTYPE HTML>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Spring boot</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>-->

<!--</head>-->
<!--<body>-->
<!--<h1>Web Tutorial</h1>-->
<!--</body>-->
<!--</html>-->

{{>layout/header}}
        <h1>Spring Web</h1>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <a href="/posts/save" role="button"
                       class="btn btn-primary">submit</a>
                    <!-- mustache는 if else 문 없어 true/false만 판단하기에 항상 최종값을 넘겨줘야함 UserName이 있다면 노출하도록 -->
                    {{#userNaeme}}
                        Logged in as: <span id="user">{{userName}}</span>
                        <!--스프링 시큐리티 기본 제공 로그아웃 버튼 (컨트롤러 생성할 필요없어)-->
                        <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                    {{/userNaeme}}
                    <!-- 해당 값 없을때는 ^을 사용함 / 없을땐 로그인 버튼 노출-->
                    {{^userName}}
                    <!--  기본 제공 로그인  URL  -->
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                    {{/userName}}
                </div>
            </div>
            <br>
            <!-- 목록 출력 영역 -->
            <table class="table table-horizontal table-bordered">
                <thead class="thead-strong">
                <tr>
                    <th>Article #</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Last Modified Date</th>
                </tr>
                </thead>
                <tbody id="tbody">
                <!--  posts List 순회  -->
                {{#posts}}
                    <tr>
                        <!--  꺽쇄 두개는 Lists 에서 뽑아낸 객체의 필드  -->
                        <td>{{id}}</td>
                        <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                        <td>{{author}}</td>
                        <td>{{modifiedDate}}</td>
                    </tr>
                {{/posts}}
                </tbody>
            </table>
        </div>
{{>layout/footer}}
